*/data
*/data_bak
*/logs
neo4j/import
!jenkins/jenkins_home/log.properties
jenkins/jenkins_home
elastic/es6
influxdb-grafana/grafana
influxdb-grafana/influxdb
influxdb-grafana/demo
DistroElastic/odfe-data1
DistroElastic/odfe-data2
SkyWalking/es
*/site
.DS_Store
